* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(183, 173, 173, 0.639);
    overflow: hidden;/
}

/* navbar */
.navbox {
    display: flex;
    justify-content: space-between;
    background-color: rgb(251, 251, 251);
    padding: 1vh 5vw;
    font-weight: bold;
    align-items: center;
    font-size: 2rem;
    text-transform: capitalize;
    width: 100vw;
}

.navbox .logo {
    font-size: 2.5rem;
    color: rgb(50, 50, 50);
    font-weight: bolder;
}

.navlinks ul {
    list-style: none;
    display: flex;
    gap: 2vw;
}

a {
    text-decoration: none;
    padding: 10px;
    color: rgba(31, 30, 30, 0.542);
}

a:hover {
    color: black;
}

.navbox .user {
    border-radius: 15px;
    padding: 1vh 1.5vw;
    color: rgba(23, 23, 218, 0.8);
    background-color: lightblue;
}

/* hero section */
.hero {
    display: flex;
    width: 100vw;
    height: 90vh;
    background-color: rgba(255, 255, 255, 0.709);
}

.div-left {
    width: 70%;
    padding: 5% 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

h1 {
    font-size: 3.5rem;
    text-transform: capitalize;
}

h1 span {
    color: rgba(23, 23, 218, 0.8);
}

.description {
    font-size: 1.2rem;
    color: rgb(80, 80, 80);
    line-height: 1.8rem;
    text-transform: capitalize;
}

.div-left button {
    padding: 15px 25px;
    font-size: 1.2rem;
    background-color: rgba(23, 23, 218, 0.8);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-transform: capitalize;
}

button:hover,
.user:hover {
    background-color: rgba(62, 62, 144, 0.464);
}

/* right image */
.div-right img {
    padding: 30px;
    width: 780px
}